<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="triangle" class="org.prateek.spring.Triangle">
    <property name="a" ref="Point1"></property>
    <property name="b" ref="Point2"></property>
    <property name="c" ref="Point3"></property>
    </bean>
    <bean id="Point1" class="org.prateek.spring.Point">
    <property name="x" value="0"></property>
    <property name="y" value="0"></property>
    </bean>
    <bean id="Point2" class="org.prateek.spring.Point">
    <property name="x" value="-20"></property>
    <property name="y" value="0"></property>
    </bean>
    <bean id="Point3" class="org.prateek.spring.Point">
    <property name="x" value="0"></property>
    <property name="y" value="20"></property>
    </bean>
    </beans>
