<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="triangle" class="org.prateek.spring.Triangle" autowire="byName">
    <property name="a" ref="a"></property>
    <property name="b" ref="b"></property>
    <property name="c" ref="c"></property>
    </bean>
    <bean id="a" class="org.prateek.spring.Point">
    <property name="x" value="${a.PointX}"></property>
    <property name="y" value="${a.PointY}"></property>
    </bean>
    <bean id="b" class="org.prateek.spring.Point">
    <property name="x" value="-20"></property>
    <property name="y" value="0"></property>
    </bean>
    <bean id="c" class="org.prateek.spring.Point">
    <property name="x" value="0"></property>
    <property name="y" value="20"></property>
    </bean> 
    <bean class="org.prateek.spring.MyBeanFactoryPP"></bean>
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="points.properties"></property>
    </bean>
    
    </beans>